<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head></head>
<body>
<div th:fragment="footer" sec:authorize="isAuthenticated()">
    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
            <span class="text-muted">
                | Usuario: <span sec:authentication="name"></span> |
                Roles: <span sec:authentication="principal.authorities"></span> |
            </span>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</div>
</body>
</html>